#
# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# GoogleSQL requires c++20 support to match internal Google development
# environments.
# This is a special snowflake setting that bazel requires special handling for.

# Load C++ and proto rules for third-party BUILD files on Bazel 9.
build --incompatible_autoload_externally=+cc_binary,+cc_library,+cc_test,+cc_proto_library,+java_proto_library,+proto_library

# By default, we don't suppress any warnings, to get clang-specific warning
# suppression you can invoke with --config=clang
build:clang --action_env=BAZEL_CXXOPTS="-std=c++20"
build:clang --cxxopt=-std=c++20
build:clang --cxxopt=-Wno-module-import-in-extern-c
build:clang --cxxopt=-Wno-deprecated-declarations
build:clang --cxxopt=-Wno-range-loop-analysis
build:clang --cxxopt=-Wno-inconsistent-missing-override
build:clang --cxxopt=-Wno-char-subscripts
build:clang --cxxopt=-Wno-enum-compare-switch
build:clang --cxxopt=-Wno-deprecated-declarations
build:clang --cxxopt=-Wno-defaulted-function-deleted
build:clang --cxxopt=-Wno-unused-private-field
build:clang --cxxopt=-Wno-return-std-move
build:clang --cxxopt=-Wno-reorder-ctor
build:clang --cxxopt=-Wno-unused-const-variable
build:clang --cxxopt=-Wno-unused-function
build:clang --cxxopt=-Wno-macro-redefined
build:clang --cxxopt=-Wno-unused-command-line-argument
# Add this line to treat the specific warning as an error
build:clang --cxxopt=-Werror=undefined-internal

# Specify the minimum supported version of MacOS.
build:darwin --cxxopt="-mmacosx-version-min=11.0"

# TODO: check if this is still needed after grpc updates.
#
# Disable layering check on MacOS.
# layering_check in Bazel ensures that any #included header is explicitly
# declared in the 'deps' of the corresponding BUILD target.
# Clang on macOS (especially with newer LLVM/Xcode) enforces this more
# strictly via C++ Modules than on Linux. Without this, current gRPC fail with:
# "error: module grpc~//src/core:cf_event_engine does not depend on a module
# exporting 'src/core/lib/debug/trace_flags.h'"
build:macos --features=-layering_check
common --enable_platform_specific_config

# C++20 is required to build GoogleSQL, hence `-cxxopt=-std=c++20`. On MacOS
# `--host_cxxopt=-std=c++20` is also needed.
# "--java_runtime_version=remotejdk_11": to make the build more hermetic.
build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20 --config=clang --java_runtime_version=remotejdk_11

# Force Go to build in PIE mode to avoid "relocation R_X86_64_64" errors on
# modern Linux environments where the LLVM toolchain enforces PIE.
build --@io_bazel_rules_go//go/config:linkmode=pie

# Default pom_version for java_export rules when not explicitly specified on the command line
build --define=pom_version=LOCAL-SNAPSHOT

